.domains {
	padding: 8px;

	app-world-card {
		width: calc(100% / 6);
		display: inline-block;
		padding: 8px;
	}

	@for $i from 12 through 2 {
		@media screen and (max-width: 275px * $i) {
			app-world-card {
				width: 100% / ($i - 1);
			}
		}
	}
}
