*node_modules
*package-lock.json
db

/frontend/dist/

/server/dist/
/server/coverage/
/server/junit.xml
/server/schema.gql
/server/src/environment.dev.ts

/app/

.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml