*.DS_Store
*node_modules
*package-lock.json
db
geoip

/frontend/dist/

/server/dist/
/server/coverage/
/server/junit.xml
/server/schema.gql
/server/src/environment.dev.ts

/app/

.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

66c2e6a0f3149850fd26.js