<div class="header">
	<div class="background">
		<video preload autoplay muted loop #video>
			<source src="/assets/silence.webm" type="video/webm" />
		</video>
	</div>
	<div class="content">
		<img src="/assets/logo-light.svg" alt="Tivoli Cloud VR logo" />
		<h1 class="title">
			Massive online social platform
			<span style="font-size: 0.9em; display: block; font-weight: 400;">
				for virtual reality and desktop
			</span>
			<!-- <span style="font-size: 0.6em; display: block; font-weight: 400;">
			for people, artists, developers and professionals!
		</span> -->
		</h1>
		<div class="buttons">
			<button
				style="padding: 4px 24px;"
				mat-flat-button
				color="primary"
				routerLink="/download"
			>
				<mat-icon>get_app</mat-icon>
				Download
			</button>
			<span style="margin: 0 16px;"></span>
			<a
				style="padding: 4px 24px;"
				mat-flat-button
				href="https://docs.tivolicloud.com"
				target="_blank"
			>
				<mat-icon>bookmarks</mat-icon>
				Docs
			</a>
		</div>
	</div>
</div>
<div class="info">
	<div class="container">
		<div class="row align-items-center" style="padding-bottom: 0;">
			<div class="col">
				<h1 class="icon-title" style="font-weight: 400;">
					<mat-icon>public</mat-icon> Persistent user-created virtual
					worlds
				</h1>
				<h2 style="font-weight: 400;">
					Create your very own worlds where you can build together
					with others and
					<br />
					express your imagination knowing that nobody can take it
					away from you.
					<br />
					<br />
					Hosted on your own hardware or soon available on-demand from
					us.
					<br />
					Find more information on our docs on
					<a
						target="_blank"
						href="https://docs.tivolicloud.com/worlds/host-a-world-advanced"
					>
						how to host a world (advanced)
					</a>
				</h2>
			</div>
		</div>
	</div>
	<div class="container-fluid" style="padding: 0 64px;">
		<div class="row align-items center">
			<div class="col-md">
				<img src="/assets/screenshots/silence.jpg" alt="Silence" />
				<p>Silence by Caitlyn</p>
			</div>
			<div class="col-md">
				<img
					src="https://dummyimage.com/1920x1005&text=%20"
					alt="Silence"
				/>
			</div>
			<div class="col-md">
				<img src="/assets/screenshots/solace.jpg" alt="Solace" />
				<p>Solace by Monoglu</p>
			</div>
			<div class="col-md">
				<img
					src="/assets/screenshots/tanks-corner-bar.jpg"
					alt="Tank's Corner Bar"
				/>
				<p>Tank's Corner Bar</p>
			</div>
			<div class="col-md">
				<img
					src="/assets/screenshots/lockdown-dance-party.jpg"
					alt="Lockdown Dance Party"
				/>
				<p>Xaos' Lockdown Dance Party</p>
			</div>
		</div>
	</div>
</div>
<div class="info">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-7">
				<h1 class="icon-title">
					<mat-icon>group</mat-icon> Hundreds of people in the same
					space
				</h1>
				<h2>
					<a
						href="https://www.highfidelity.com/blog/latest-load-test-hits-423-so-whats-next-8b7fd85c234c"
						target="_blank"
					>
						Up to 400+ concurrently
					</a>
					moving and talking people can interact together in the same
					space. Powered by highly customizable and scalable software
					for any occasion.
				</h2>
			</div>
			<div class="col-md-5">
				<img
					src="/assets/screenshots/hifi-load-test.jpg"
					alt="Hifi's load test"
				/>
			</div>
		</div>
	</div>
</div>
<div class="info">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-7">
				<h1 class="icon-title">
					<mat-icon>local_florist</mat-icon> Comfortable human
					interaction
				</h1>
				<h2>
					Experience unprecedented presence and intimacy in a virtual
					space. Subtle verbal and body communication are faithfully
					reproduced in the virtual world.
				</h2>
			</div>
			<div class="col-md-5">
				<img
					src="/assets/screenshots/fairies.jpg"
					alt="Two people hugging"
				/>
			</div>
		</div>
	</div>
</div>
<!-- <div class="info">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-7">
				<h1 class="icon-title">
					<mat-icon>security</mat-icon> Safe moderation provided
					throughout
				</h1>
				<h2></h2>
			</div>
			<div class="col-md-5">
				<img src="https://dummyimage.com/1920x540&text=%20" alt="" />
			</div>
		</div>
	</div>
</div> -->
<div class="info">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-7">
				<h1 class="icon-title">
					<mat-icon>developer_board</mat-icon> Extensive platform for
					developers
				</h1>
				<h2>
					Use JavaScript to make almost anything you can imagine.
					Script entire experiences, tablet apps and playable games.
					Find the
					<a href="https://apidocs.tivolicloud.com">
						API reference here</a
					>.
				</h2>
			</div>
			<div class="col-md-5">
				<img
					src="/assets/screenshots/scripting-code-sample.png"
					alt="Scripting code sample"
				/>
			</div>
		</div>
	</div>
</div>
<div class="info">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-7">
				<h1 class="icon-title">
					<mat-icon>code</mat-icon> Free and open source
				</h1>
				<h2>
					Under the AGPLv3 license, we are
					<a
						target="_blank"
						href="https://www.gnu.org/philosophy/free-sw.html"
					>
						free software</a
					>.
					<br />
					Use Tivoli however you like for any purpose.
					<br /><br />
					Written using C++ with Qt and JavaScript, feel free to
					contribute! Find the
					<a
						target="_blank"
						href="https://git.tivolicloud.com/tivolicloud/interface"
					>
						source code here</a
					>.
				</h2>
			</div>
			<div class="col-md-5">
				<img
					src="/assets/screenshots/gitlab.jpg"
					alt="Tivoli's git repo"
				/>
			</div>
		</div>
	</div>
</div>
<div class="info">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<h1 class="icon-title"><mat-icon>people</mat-icon> Social</h1>
				<h2 *ngFor="let data of social" style="margin: 4px;">
					{{ data[0] }} &ndash;
					<a [href]="data[1]" target="_blank">{{
						data[1].replace("https://", "")
					}}</a>
				</h2>
				<br />
			</div>
			<div class="col-md-6">
				<h1 class="icon-title"><mat-icon>list</mat-icon> Resources</h1>
				<h2 *ngFor="let data of resources" style="margin: 4px;">
					{{ data[0] }} &ndash;
					<a [href]="data[1]" target="_blank">{{
						data[1].replace("https://", "")
					}}</a>
				</h2>
				<br />
			</div>
			<div class="col-md-6">
				<h1 class="icon-title">
					<mat-icon>thumbs_up_down</mat-icon> Contribute
				</h1>
				<h2 *ngFor="let data of contribute" style="margin: 4px;">
					{{ data[0] }} &ndash;
					<a [href]="data[1]" target="_blank">{{
						data[1].replace("https://", "")
					}}</a>
				</h2>
				<br />
			</div>
		</div>
	</div>
</div>
<div class="footer">
	<p
		style="
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 4px;
		"
	>
		Tivoli is made with lots of love and care
		<mat-icon style="color: #f44336; margin-left: 4px;">favorite</mat-icon>
	</p>
	<p style="opacity: 0.7; margin-bottom: 4px;">
		Copyright &copy; {{ year }} Tivoli Cloud VR, Inc. All rights reserved.
	</p>
	<p style="opacity: 0.3;">
		<a routerLink="/privacy-policy" style="color: #fff;">Privacy Policy</a>
	</p>
</div>
