<div class="header">
	<div class="background">
		<video preload autoplay muted loop #video>
			<source src="/assets/silence.webm" type="video/webm" />
		</video>
	</div>
	<div class="content">
		<img src="/assets/logo-light.svg" alt="Tivoli Cloud VR logo" />
		<h1 class="title">
			Massive online social platform
			<span style="font-size: 0.9em; display: block; font-weight: 400;">
				for virtual reality and desktop
			</span>
			<!-- <span style="font-size: 0.6em; display: block; font-weight: 400;">
			for people, artists, developers and professionals!
		</span> -->
		</h1>
		<div class="buttons">
			<button
				style="padding: 4px 24px"
				mat-flat-button
				color="primary"
				(click)="openDownload()"
			>
				<mat-icon>get_app</mat-icon>
				Download
			</button>
			<span style="margin: 0 16px"></span>
			<a
				style="padding: 4px 24px"
				mat-flat-button
				href="https://docs.tivolicloud.com"
				target="_blank"
			>
				<mat-icon>bookmarks</mat-icon>
				Docs
			</a>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col">
			<!-- <h2 style="margin: 32px 0;">
				Designed for human communication in VR at great scale, Tivoli
				Cloud VR's platform is capable of hosting hundreds of avatars in
				the same space, providing comfortable human-centric
				communication in rich, persistent virtual worlds.
			</h2> -->
			<div style="padding: 8px 0;"></div>
			<h2>
				<mat-icon>local_florist</mat-icon> comfortable
				<b>human-centric communication</b> in virtual reality
			</h2>
			<h2>
				<mat-icon>public</mat-icon>
				<b> persistent user created</b> virtual worlds owned by the
				users
			</h2>
			<h2>
				<mat-icon>group</mat-icon> capable of hosting
				<b>hundreds of avatars</b> in the same space
			</h2>
			<h2>
				<mat-icon>developer_board</mat-icon>
				extensive platform designed for
				<b>artists and developers</b>
			</h2>
		</div>
	</div>
</div>
