<ng-container *ngIf="!complete">
	<h2 style="margin-top: 0;">Enter a new password</h2>
	<p *ngIf="user">
		You're updating the password of <b>{{ user.profile.email }}</b>
	</p>
	<mat-card
		*ngIf="error"
		class="bg-warn"
		style="
			margin-bottom: 16px;
			color: #fff;
			display: flex;
			vertical-align: middle;
		"
	>
		<mat-icon style="margin-top: -3px; margin-right: 8px;">
			error_outline
		</mat-icon>
		{{ error }}
	</mat-card>
	<form [formGroup]="form" (ngSubmit)="onSubmit()">
		<mat-form-field style="width: 100%;">
			<input
				matInput
				type="password"
				placeholder="New password"
				required
				formControlName="newPassword"
			/>
			<mat-error *ngIf="form.hasError('required', 'newPassword')">
				New password is required
			</mat-error>
			<mat-error *ngIf="form.hasError('minlength', 'newPassword')">
				New password is too short
			</mat-error>
			<mat-error *ngIf="form.hasError('maxlength', 'newPassword')">
				New password is too long
			</mat-error>
		</mat-form-field>
		<mat-form-field style="width: 100%;">
			<input
				matInput
				type="password"
				placeholder="Confirm password"
				required
				formControlName="confirmPassword"
			/>
			<mat-error *ngIf="form.hasError('required', 'confirmPassword')">
				Confirmed password is required
			</mat-error>
			<mat-error *ngIf="form.hasError('minlength', 'confirmPassword')">
				Confirmed password is too short
			</mat-error>
			<mat-error *ngIf="form.hasError('maxlength', 'confirmPassword')">
				Confirmed password is too long
			</mat-error>
		</mat-form-field>

		<p
			style="color: #f44336; font-size: 75%; margin-top: 0;"
			*ngIf="form.hasError('mismatch')"
		>
			New password doesn't match confirmed password
		</p>

		<div style="margin: 16px 0;"></div>

		<button
			type="submit"
			mat-flat-button
			color="primary"
			[disabled]="form.invalid || isLoading"
		>
			Update password
		</button>
	</form>
</ng-container>
<ng-container *ngIf="complete">
	<h2 style="margin-top: 0;">Password has been updated</h2>
	<p>
		Your password has been changed! You can now log into the launcher with
		your new credentials.
	</p>
	<button mat-flat-button color="primary" (click)="onClose()">
		Okay
	</button>
</ng-container>
<div *ngIf="isLoading">
	<br />
	<mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
