<div class="editor-container">
	<div
		style="
			display: flex;
			width: 100%;
			flex-direction: row;
			align-items: center;
		"
	>
		<h2 style="margin: 6px 12px;">
			{{ data.file.key }}
		</h2>
		<div style="flex-grow: 1;"></div>
		<mat-icon
			(click)="onSaveAndClose()"
			style="
				font-size: 32px;
				width: 32px;
				height: 32px;
				margin-right: 12px;
				cursor: pointer;
			"
		>
			close
		</mat-icon>
	</div>
	<div *ngIf="loading" class="editor loading">
		<mat-spinner mode="indeterminate" diameter="64"></mat-spinner>
		<p style="margin-top: 24px;">Loading {{ loading }}...</p>
	</div>
	<div
		#editor
		class="editor"
		[style.display]="loading ? 'none' : 'initial'"
	></div>
	<mat-progress-bar
		mode="indeterminate"
		[style.opacity]="saving ? '1' : '0'"
	></mat-progress-bar>
	<div style="display: flex; padding: 8px; align-items: center;">
		<div style="flex-grow: 1;"></div>
		<p style="margin: 0;" [style.opacity]="saving ? '0.5' : '0'">
			Saving file...
		</p>
		<div style="margin: 0 8px;"></div>
		<button [disabled]="saving" mat-flat-button (click)="onDiscard()">
			Discard
		</button>
		<div style="margin: 0 4px;"></div>
		<button [disabled]="saving" mat-flat-button (click)="onSave()">
			<mat-icon>save</mat-icon>
			Save
		</button>
		<div style="margin: 0 4px;"></div>
		<button
			[disabled]="saving"
			mat-flat-button
			color="primary"
			(click)="onSaveAndClose()"
		>
			<mat-icon>save</mat-icon>
			Save & Close
		</button>
	</div>
</div>
