// ::ng-deep .cdk-overlay-pane {
// 	max-width: initial !important;
// }

.editor-container {
	margin: -24px;
	width: calc(100% + 48px);
	height: calc(100% + 48px);
	overflow: hidden;
	display: flex;
	flex-direction: column;

	h2 {
		margin: 0;
		padding: 8px;
	}

	.editor {
		width: 100%;
		height: 100%;
		// background: #282a36; // dracula
		background: #1e1e1e; // vs dark

		&.loading {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			color: rgba(#fff, 0.4);
			font-size: 1.2em;

			::ng-deep .mat-spinner circle {
				stroke: rgba(#fff, 0.2);
			}
		}
	}
}
