<div
	class="container"
	style="font-size: 15px; margin-top: 27px; padding-bottom: 100px;"
>
	<!-- <div class="row justify-content-center">
		<div class="col-xl-8 col-lg-10"> -->
	<div class="row justify-content-center">
		<div class="col-xl-10 col-lg-12">
			<p style="font-size: 26px; font-weight: 700; line-height: 15px;">
				CODE OF CONDUCT
			</p>
			<p style="font-weight: 700;">
				Last updated February 18, 2021
			</p>
			<br />
			<p>
				Somewhere between the confines of imagination and computation,
				Tivoli Cloud VR is an unconventional and lively community where
				you can pretend to be anything you want, realize your creative
				visions, and interact with folks from all corners of the globe.
			</p>
			<p>
				We give our thanks to our amazing community for making Tivoli a
				safe and delightful experience by following our guidelines. As a
				member of our community, we request that you follow these same
				guidelines. If you break these guidelines, your account may be
				affected in a range of ways, both in-world and on our Discord
				server, message boards or other avenues.
			</p>
			<p style="font-size: 19px; font-weight: 700;">
				All Inclusivity Policy
			</p>
			<p>
				Everyone is welcome here, including folks with different people
				with different abilities, thoughts, genders, spiritual and
				religious beliefs, ethnicities, races, nationalities, neurotypes
				and sexual orientations.
			</p>
			<p style="font-size: 19px; font-weight: 700;">
				Age Requirement
			</p>
			<p>
				You must be 18 years or older to use Tivoli Cloud VR and related
				services.
			</p>
			<p style="font-size: 19px; font-weight: 700;">
				Inappropriate Behavior
			</p>
			<p>
				The following are not allowed and will be aggressively
				prosecuted.
			</p>
			<ul>
				<li>Hate speech, including language, symbols, and actions.</li>
				<li>Discrimination towards spiritual or religious beliefs</li>
				<li>
					Discrimination towards gender, sexual orientation or sexual
					identity
				</li>
				<li>
					Discrimination towards disability, neurotype, and/or any
					other personal issues.
				</li>
				<li>
					Repeatedly approaching or stalking someone in order to upset
					or annoy them.
				</li>
				<li>
					Stalking someone through other means to continue to harass
					them after being blocked.
				</li>
				<li>Filing malicious, false complaints against a user</li>
				<li>
					Live streaming or posting video that is sexually explicit or
					simulates sex.
				</li>
				<li>
					Impersonating another user, group entity or Tivoli employee
				</li>
				<li>
					Disclosing ("doxxing") a user’s personal information, e.g.
					photos, name, online profiles.
				</li>
				<li>
					"Naming and shaming" users in public including in-world,
					Discord and forum.
				</li>
				<li>
					Soliciting, marketing or promoting unauthorized products
				</li>
				<li>Sharing your account information with others</li>
				<li>Creating accounts with false information</li>
				<li>Evading or circumventing bans</li>
			</ul>
			<p style="font-size: 19px; font-weight: 700;">
				Technical Violations
			</p>
			<ul>
				<li>Create cheats, cracks & exploiting bugs in the client.</li>
				<li>
					Disrupt or interfere with the delivery and experience of
					Tivoli users
				</li>
				<li>Disrupt Tivoli servers or attempt to manipulate the API</li>
				<li>Spoof or attempt to connect as other users or accounts</li>
				<li>
					Create or attempt to distribute malicious scripts, shaders,
					apps
				</li>
				<li>Host malicious or inappropriate content on Tivoli Files</li>
				<li>Display inappropriate content on Tivoli Shared Desktop</li>
				<li>
					Collect or mine unauthorized information from Tivoli users
				</li>
				<li>
					Reverse engineer, steal, extract or rip content from Tivoli
				</li>
				<li>
					Redistribute or use ripped, stolen or reverse engineered
					content
				</li>
				<li>Reverse engineer Tivoli’s proprietary tea protocol</li>
			</ul>
			<p style="font-size: 19px; font-weight: 700;">
				Inappropriate Content on Public Servers
			</p>
			<p>
				You are responsible for any content in public spaces which point
				to or link to content that violates the community guidelines,
				including posting links in text chat, portals to other spaces ,
				avatar artwork, attachments and audiovisual media.
			</p>
			<p>
				This includes content hosted on Tivoli Files, Tivoli Shared
				Desktop, and other public channels including the Discord Server,
				and world details on the Explore menu.
			</p>
			<p>The following content and links are not allowed:</p>
			<ul>
				<li>
					Content or links which violate the Community Guidelines.
				</li>
				<li>
					Scripts, shaders, models and audio which interferes with
					other users’ experience
				</li>
				<li>
					Depictions or representations of sexual acts, nudity,
					pornography, or pedophilia.
				</li>
				<li>
					Depictions of cruelty, rape, torture or egregious acts of
					violence
				</li>
			</ul>
			<p>
				We appreciate and understand the enjoyment of ‘roleplaying’ in
				virtual worlds, however this does not present an exception to
				any of the rules above.
			</p>
			<p>
				Please resolve issues with individuals directly or by reporting
				to a moderator, do not call out users in public forums or on the
				Discord server. These guidelines might not cover every possible
				issue that may arise. We invite you to refer to our Terms of
				Service for other policies.
			</p>
		</div>
	</div>
</div>
