<div
	style="
		width: 100%;
		background: #f2f2f2;
		padding: 40px 0;
		border-radius: 4px;
		overflow: hidden;
		font-family: 'Roboto', sans-serif;
	"
>
	<div
		style="
			max-width: 400px;
			background: #fff;
			margin: 0 auto;
			color: #000;
			border-radius: 4px;
			overflow: hidden;
		"
	>
		<div
			style="
				padding: 20px 80px;
				background-image: url(https://tivolicloud.com/assets/header.jpg);
				background-position: center 60%;
				background-size: cover;
				background-repeat: no-repeat;
			"
		>
			<img
				style="width: 100%;"
				src="https://tivolicloud.com/assets/logo-light.png"
			/>
		</div>
		<h2
			style="
				margin: 0;
				background: #e91e63;
				color: #fff;
				padding: 10px 20px;
				font-weight: 400;
			"
		>
			Reset password for <b>{{ username }}</b>
		</h2>
		<div style="padding: 20px 20px;">
			<p style="margin: 0;">
				You've requested to change your password. If this was a mistake,
				please ignore this email and let us know. Your account is always
				safe.
				<br />
				<br />
				The button below will reset the password for:
				<br />
				<b>{{ email }}</b>
			</p>
			<br />
			<a href="{{ resetPasswordUrl }}" style="text-decoration: none;">
				<h3
					style="
						display: inline-block;
						margin: 0;
						padding: 10px;
						color: #fff;
						background: #e91e63;
						border-radius: 4px;
						font-weight: 400;
					"
				>
					Reset password
				</h3>
			</a>
			<br />
			<br />
			<span style="opacity: 0.75;">
				You can reach us at
				<a href="mailto:support@tivolicloud.com">
					support@tivolicloud.com
				</a>
			</span>
		</div>
	</div>
	<div
		style="
			max-width: 400px;
			margin: 0 auto;
			margin-top: 8px;
			color: #b3b3b3;
			text-align: center;
		"
	>
		Copyright &copy; Tivoli Cloud VR Inc, 2020
	</div>
</div>
