<img
	style="width: 100%; border-radius: 4px;"
	src="/assets/amd-complications/1.png"
/>
<div style="margin: 4px 0;"></div>
<div style="display: flex; flex-direction: row; width: calc(100% - 8px);">
	<img
		style="width: 50%; height: auto; border-radius: 4px;"
		src="/assets/amd-complications/2.png"
	/>
	<div style="margin: 0 4px;"></div>
	<img
		style="width: 50%; height: auto; border-radius: 4px;"
		src="/assets/amd-complications/3.png"
	/>
</div>
<h1 style="text-align: center; font-size: 3em; font-weight: 400;">
	...and it crashes a lot...
</h1>
<h1
	style="
		text-align: center;
		font-size: 1.5em;
		font-weight: 400;
		max-width: 50vw;
		margin: 0 auto;
	"
>
	There's not much we can do about it. AMD drivers have very bad OpenGL
	support and it's up to them to improve their drivers.
	<br />
	<br />
</h1>
<h1
	style="
		text-align: center;
		font-size: 1.5em;
		font-weight: 400;
		max-width: 30vw;
		margin: 0 auto;
	"
>
	This is also the reason why we can't have macOS support.
	<br />
	<br />
	We're not the only people who are dealing with this issue.
</h1>
<div style="margin: 120px 0;"></div>
