<h2 *ngIf="!inSignUpMode" style="margin-top: 0;">Sign in</h2>
<h2 *ngIf="inSignUpMode" style="margin-top: 0;">Create a new account</h2>

<mat-card
	*ngIf="errorMessage"
	class="bg-warn"
	style="
		margin-bottom: 16px; color: #fff;
		display: flex; vertical-align: middle;
	"
>
	<mat-icon style="margin-top: -3px; margin-right: 8px;">
		error_outline
	</mat-icon>
	{{ errorMessage }}
</mat-card>

<div #captchaDiv style="display: none;">
	<re-captcha
		#captchaRef="reCaptcha"
		[siteKey]="siteKey"
		size="invisible"
		(resolved)="$event && onSubmit($event, captchaRef)"
	></re-captcha>
</div>

<form
	*ngIf="!inSignUpMode"
	[formGroup]="signInForm"
	(ngSubmit)="captchaRef.execute()"
>
	<mat-form-field style="width: 100%;">
		<input
			matInput
			placeholder="Email or username"
			required
			formControlName="username"
		/>
		<mat-error *ngIf="signInForm.hasError('required', 'username')">
			Email or username is required
		</mat-error>
		<mat-error *ngIf="signInForm.hasError('minlength', 'username')">
			Email or username is too short
		</mat-error>
		<mat-error *ngIf="signInForm.hasError('maxlength', 'username')">
			Email or username is too long
		</mat-error>
	</mat-form-field>

	<mat-form-field style="width: 100%;">
		<input
			matInput
			type="password"
			placeholder="Password"
			required
			formControlName="password"
		/>
		<mat-error *ngIf="signInForm.hasError('required', 'password')">
			Password is required
		</mat-error>
		<mat-error *ngIf="signInForm.hasError('minlength', 'username')">
			Password is too short
		</mat-error>
		<mat-error *ngIf="signInForm.hasError('maxlength', 'username')">
			Password is too long
		</mat-error>
	</mat-form-field>

	<div style="margin: 16px 0;"></div>

	<button
		type="submit"
		mat-flat-button
		color="primary"
		[disabled]="signInForm.invalid || isLoading"
	>
		Sign in
	</button>
	<span style="margin: 0 4px;"></span>
	<button
		type="button"
		mat-button
		(click)="onToggleSignUp()"
		[disabled]="isLoading"
	>
		Create a new account
	</button>

	<div style="margin: 8px 0;"></div>

	<span *ngFor="let service of extServices" style="margin-right: 8px;">
		<button
			type="button"
			mat-stroked-button
			(click)="onSignInExt(service.toLowerCase())"
			[disabled]="isLoading"
			style="margin-bottom: 8px;"
		>
			<img
				style="width: 24px; height: 24px; margin-right: 4px;"
				[src]="'/assets/' + service.toLowerCase() + '-logo.svg'"
			/>
			{{ service }}
		</button>
	</span>
</form>

<form
	*ngIf="inSignUpMode"
	[formGroup]="signUpForm"
	(ngSubmit)="captchaRef.execute()"
>
	<mat-form-field style="width: 100%;">
		<input
			matInput
			type="email"
			placeholder="Email"
			required
			formControlName="email"
		/>
		<mat-error *ngIf="signUpForm.hasError('required', 'email')">
			Email is required
		</mat-error>
		<mat-error *ngIf="signUpForm.hasError('email', 'email')">
			Email is invalid
		</mat-error>
		<mat-error *ngIf="signUpForm.hasError('maxlength', 'email')">
			Email is too long
		</mat-error>
	</mat-form-field>

	<mat-form-field style="width: 100%;">
		<input
			matInput
			placeholder="Username"
			required
			formControlName="username"
		/>
		<mat-error *ngIf="signUpForm.hasError('required', 'username')">
			Username is required
		</mat-error>
		<mat-error *ngIf="signUpForm.hasError('minlength', 'username')">
			Username is too short
		</mat-error>
		<mat-error *ngIf="signUpForm.hasError('maxlength', 'username')">
			Username is too long
		</mat-error>
		<mat-error *ngIf="signUpForm.hasError('badCharacters', 'username')">
			Letters, numbers, dots and underscores only
		</mat-error>
		<mat-error
			*ngIf="signUpForm.hasError('startEndDotUnderscore', 'username')"
		>
			Cannot start or end with a dot or underscore
		</mat-error>
		<mat-error
			*ngIf="signUpForm.hasError('repeatingDotsUnderscores', 'username')"
		>
			Cannot contain repeating dots or underscores
		</mat-error>
		<mat-error
			*ngIf="signUpForm.hasError('nextToDotsUnderscores', 'username')"
		>
			Cannot have dots and underscores next to each other
		</mat-error>
	</mat-form-field>

	<mat-form-field style="width: 100%;">
		<input
			matInput
			type="password"
			placeholder="Password"
			required
			formControlName="password"
		/>
		<mat-error *ngIf="signUpForm.hasError('required', 'password')">
			Password is required
		</mat-error>
		<mat-error *ngIf="signUpForm.hasError('minlength', 'password')">
			Password is too short
		</mat-error>
		<mat-error *ngIf="signUpForm.hasError('maxlength', 'password')">
			Password is too long
		</mat-error>
	</mat-form-field>

	<div style="margin: 16px 0;"></div>

	<button
		type="submit"
		mat-flat-button
		color="primary"
		[disabled]="signUpForm.invalid || isLoading"
	>
		Create a new account
	</button>
	<span style="margin: 0 4px;"></span>
	<button
		type="button"
		mat-button
		(click)="onToggleSignUp()"
		[disabled]="isLoading"
	>
		Sign in instead
	</button>
</form>

<div *ngIf="isLoading">
	<br />
	<mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
