<div class="view">
	<div
		*ngFor="let folder of folder.folders"
		class="item folder"
		(click)="onFolderClick.emit(folder)"
		oncontextmenu="return false;"
		(contextmenu)="onItemContextMenu('folder', folder, $event)"
	>
		<div class="contents">
			<mat-icon class="icon">folder</mat-icon>
			{{ folder.name }}
		</div>
	</div>
</div>
<div class="view">
	<div
		class="item file"
		*ngFor="let file of folder.files"
		(click)="onItemClick(file)"
		oncontextmenu="return false;"
		(contextmenu)="onItemContextMenu('file', file, $event)"
	>
		<div class="thumbnail">
			<mat-icon class="icon">{{ file.icon }}</mat-icon>
			<div
				class="preview"
				*ngIf="file.type == 'image'"
				[style.backgroundImage]="
					'url(' + file.url + '?' + previewCache + ')'
				"
			></div>
			<video
				class="preview"
				*ngIf="file.type == 'video'"
				style="object-fit: cover;"
				autoplay
				loop
				mute
			>
				<source [src]="file.url + '?' + previewCache" />
			</video>
		</div>
		<div class="contents">
			<mat-icon class="icon">{{ file.icon }}</mat-icon>
			<span>
				<p>{{ file.name }}</p>
				<p class="size">{{ utilsService.formatBytes(file.size) }}</p>
			</span>
		</div>
	</div>
</div>
<div
	class="context-menu mat-elevation-z2"
	*ngIf="contextMenu"
	[style.top]="contextMenu.y + 'px'"
	[style.left]="contextMenu.x + 'px'"
	oncontextmenu="return false;"
>
	<ng-container *ngIf="contextMenu.type == 'file'">
		<div class="info">
			{{ contextMenu.file.name }}
			<br />
			<span style="opacity: 0.6;">
				{{ utilsService.formatBytes(contextMenu.file.size) }}
			</span>
		</div>
		<button mat-button (click)="onContextMenuCopyUrl()">
			<mat-icon>link</mat-icon>
			<ng-container *ngIf="!contextMenu.urlCopied">
				Copy URL to clipboard
			</ng-container>
			<ng-container *ngIf="contextMenu.urlCopied">
				Copied!
			</ng-container>
		</button>
		<mat-divider></mat-divider>
	</ng-container>
	<button mat-button disabled>
		<mat-icon>folder</mat-icon>
		Move
	</button>
	<button mat-button disabled>
		<mat-icon>create</mat-icon>
		Rename
	</button>
	<button
		mat-button
		(click)="onContextMenuDownload()"
		*ngIf="contextMenu.type == 'file'"
	>
		<mat-icon>get_app</mat-icon>
		Download
	</button>
	<mat-divider></mat-divider>
	<button
		mat-flat-button
		(click)="onContextMenuDelete()"
		[color]="contextMenu.areYouSureDelete ? 'warn' : ''"
	>
		<mat-icon>delete</mat-icon>
		{{ !contextMenu.areYouSureDelete ? "Delete" : "ARE YOU SURE?" }}
	</button>
	<mat-progress-bar
		*ngIf="contextMenu.loading"
		mode="indeterminate"
		style="margin-bottom: -8px; margin-top: 8px;"
	></mat-progress-bar>
</div>
