<div class="container">
	<h1 style="padding: 16px 0;">User settings</h1>
	<div class="row">
		<div class="col-md-6">
			<mat-card>
				<h2>Update email</h2>

				<mat-card
					*ngIf="emailFormError"
					class="bg-warn"
					style="
						margin-bottom: 16px;
						color: #fff;
						display: flex;
						vertical-align: middle;
					"
				>
					<mat-icon style="margin-top: -3px; margin-right: 8px;">
						error_outline
					</mat-icon>
					{{ emailFormError }}
				</mat-card>

				<form
					*ngIf="!emailFormSuccess"
					[formGroup]="emailForm"
					(ngSubmit)="onEmailFormSubmit()"
				>
					<mat-form-field style="width: 100%;">
						<input
							matInput
							type="email"
							placeholder="Email"
							formControlName="email"
						/>
						<mat-error *ngIf="emailForm.hasError('email', 'email')">
							Email is invalid
						</mat-error>
						<mat-error
							*ngIf="emailForm.hasError('maxlength', 'email')"
						>
							Email is too long
						</mat-error>
					</mat-form-field>

					<button
						type="submit"
						mat-stroked-button
						[disabled]="
							emailForm.pristine ||
							emailForm.invalid ||
							emailForm.disabled
						"
					>
						<mat-icon>save</mat-icon> Save changes
					</button>
				</form>

				<mat-card
					*ngIf="emailFormSuccess"
					class="bg-success"
					style="
						margin-bottom: 16px;
						color: #fff;
						display: flex;
						vertical-align: middle;
					"
				>
					<mat-icon style="margin-top: -3px; margin-right: 8px;">
						done
					</mat-icon>
					{{ emailFormSuccess }}
				</mat-card>

				<div *ngIf="emailForm.disabled">
					<br />
					<mat-progress-bar mode="indeterminate"></mat-progress-bar>
				</div>
			</mat-card>
			<mat-card>
				<h2>Update password</h2>

				<mat-card
					*ngIf="passwordFormError"
					class="bg-warn"
					style="
						margin-bottom: 16px;
						color: #fff;
						display: flex;
						vertical-align: middle;
					"
				>
					<mat-icon style="margin-top: -3px; margin-right: 8px;">
						error_outline
					</mat-icon>
					{{ passwordFormError }}
				</mat-card>

				<form
					*ngIf="!passwordFormSuccess"
					[formGroup]="passwordForm"
					(ngSubmit)="onPasswordFormSubmit()"
				>
					<mat-form-field
						style="width: 100%;"
						*ngFor="
							let type of [
								{
									label: 'Current password',
									name: 'currentPassword'
								},
								{
									label: 'New password',
									name: 'newPassword'
								},
								{
									label: 'Confirm password',
									name: 'confirmPassword'
								}
							]
						"
					>
						<input
							matInput
							type="password"
							[placeholder]="type.label"
							[formControlName]="type.name"
							#password
						/>
						<mat-error
							*ngIf="passwordForm.hasError('required', type.name)"
						>
							{{ type.label }} is required
						</mat-error>
						<mat-error
							*ngIf="
								passwordForm.hasError('minlength', type.name)
							"
						>
							{{ type.label }} is too short
						</mat-error>
						<mat-error
							*ngIf="
								passwordForm.hasError('maxlength', type.name)
							"
						>
							{{ type.label }} is too long
						</mat-error>
						<mat-error
							*ngIf="
								passwordForm.hasError('cantBeSame', type.name)
							"
						>
							{{ type.label }} cant be the same as current
							password
						</mat-error>
						<mat-error
							*ngIf="passwordForm.hasError('mismatch', type.name)"
						>
							{{ type.label }} does not match new password
						</mat-error>
					</mat-form-field>

					<p
						style="color: #f44336; font-size: 75%; margin-top: 0;"
						*ngIf="passwordForm.hasError('cantBeSame')"
					>
						Current password can't be same as new password
					</p>
					<p
						style="color: #f44336; font-size: 75%; margin-top: 0;"
						*ngIf="passwordForm.hasError('mismatch')"
					>
						New password doesn't match confirmed password
					</p>

					<button
						type="submit"
						mat-stroked-button
						[disabled]="
							passwordForm.pristine ||
							passwordForm.invalid ||
							passwordForm.disabled
						"
					>
						<mat-icon>save</mat-icon> Save changes
					</button>
				</form>

				<mat-card
					*ngIf="passwordFormSuccess"
					class="bg-success"
					style="
						margin-bottom: 16px;
						color: #fff;
						display: flex;
						vertical-align: middle;
					"
				>
					<mat-icon style="margin-top: -3px; margin-right: 8px;">
						done
					</mat-icon>
					{{ passwordFormSuccess }}
				</mat-card>

				<div *ngIf="passwordForm.disabled">
					<br />
					<mat-progress-bar mode="indeterminate"></mat-progress-bar>
				</div>
			</mat-card>
		</div>
		<div class="col-md-6">
			<mat-card>
				<table style="width: 100%;">
					<tr style="vertical-align: top;">
						<td>
							<h2 style="margin: 0;">Update image</h2>
							<p>
								Your profile picture may be provided by
								<a
									href="https://en.gravatar.com"
									target="_blank"
									>Gravatar</a
								>
							</p>
						</td>
						<td style="text-align: right;">
							<img class="user-image" [src]="userImageSrc" />
						</td>
					</tr>
				</table>

				<mat-card
					*ngIf="imageFormError"
					class="bg-warn"
					style="
						margin-bottom: 16px;
						color: #fff;
						display: flex;
						vertical-align: middle;
					"
				>
					<mat-icon style="margin-top: -3px; margin-right: 8px;">
						error_outline
					</mat-icon>
					{{ imageFormError }}
				</mat-card>

				<form [formGroup]="imageForm" (ngSubmit)="onImageFormSubmit()">
					<app-image-picker
						circle="true"
						name="image"
						formControlName="image"
					></app-image-picker>

					<button
						type="submit"
						mat-stroked-button
						[disabled]="imageForm.invalid || imageForm.disabled"
					>
						<mat-icon>save</mat-icon> Save changes
					</button>
					<span style="margin: 0 4px;"></span>
					<button type="button" mat-button (click)="onRemoveImage()">
						<mat-icon>delete</mat-icon> Remove image
					</button>
				</form>

				<div *ngIf="imageForm.disabled">
					<br />
					<mat-progress-bar mode="indeterminate"></mat-progress-bar>
				</div>
			</mat-card>
		</div>
	</div>
</div>
