<div style="background: rgba(0, 0, 0, 0.05);">
	<div
		class="container-fluid"
		style="padding-top: 0px; display: flex; align-items: center;"
	>
		<h2 style="margin-right: 32px;">🌸🎉🍣 Secret fairy admin page</h2>
		<div class="menu">
			<button
				mat-button
				routerLink="/admin/users"
				routerLinkActive="active"
			>
				<mat-icon>people</mat-icon> Users
			</button>
			<button
				mat-button
				routerLink="/admin/online-users"
				routerLinkActive="active"
			>
				<mat-icon>people</mat-icon> Online users
			</button>
			<button
				mat-button
				routerLink="/admin/openai-tokens"
				routerLinkActive="active"
			>
				<mat-icon>auto_stories</mat-icon> OpenAI tokens
			</button>
		</div>
	</div>
</div>
<div class="container-fluid">
	<br />
	<router-outlet></router-outlet>
	<br />
</div>
