<div style="background: rgba(0, 0, 0, 0.05);">
	<div
		class="container-fluid"
		style="padding-top: 0px; display: flex; align-items: center;"
	>
		<h2 style="margin-right: 32px;">🌸🎉🍣 Secret fairy admin page</h2>
		<div class="menu">
			<div
				style="
					display: flex;
					flex-direction: row;
					align-items: center;
					margin-right: 8px;
				"
			>
				<mat-icon>people</mat-icon>
				<h4 style="margin: 0; margin-left: 4px;">Users</h4>
			</div>
			<button
				mat-button
				routerLink="/admin/users/all"
				routerLinkActive="active"
				style="margin: 0;"
			>
				All
			</button>
			<button
				mat-button
				routerLink="/admin/users/online"
				routerLinkActive="active"
				style="margin: 0;"
			>
				Online
			</button>
			<button
				mat-button
				routerLink="/admin/users/banned"
				routerLinkActive="active"
				style="margin: 0;"
			>
				Banned
			</button>
			<span class="pipe">|</span>
			<button
				mat-button
				routerLink="/admin/openai-tokens"
				routerLinkActive="active"
			>
				<mat-icon>auto_stories</mat-icon> OpenAI tokens
			</button>
		</div>
	</div>
</div>
<div class="container-fluid">
	<br />
	<router-outlet></router-outlet>
	<br />
</div>
