.container-fluid {
	margin-right: auto;
	margin-left: auto;
	max-width: 1600px; /* or 950px */
}

.menu {
	display: flex;
	flex-direction: row;
	align-items: center;

	.pipe {
		font-size: 24px;
		opacity: 0.2;
		margin: 0 8px;
	}

	button {
		margin: 0 4px;

		&.active {
			background-color: rgba(#000, 0.05);
		}
	}
}
