<mat-toolbar color="primary">
	<mat-toolbar-row>
		<div class="container">
			<div class="row align-items-center">
				<a mat-button routerLink="/">
					<img
						src="/assets/logo-light-nopink.png"
						alt="Tivoli Cloud VR logo"
						style="height: 32px;"
					/>
				</a>

				<button class="menu-item" mat-button (click)="openDownload()">
					<mat-icon>get_app</mat-icon> Download
				</button>

				<a
					class="menu-item"
					href="https://blog.tivolicloud.com"
					target="_blank"
					mat-button
				>
					<mat-icon>create</mat-icon> Blog
				</a>

				<a
					class="menu-item"
					href="https://docs.tivolicloud.com"
					target="_blank"
					mat-button
				>
					<mat-icon>bookmarks</mat-icon> Docs
				</a>

				<a class="menu-item" href="/discord" target="_blank" mat-button>
					<img
						src="/assets/icons/discord-white.svg"
						alt="Discord"
						style="height: 24px; margin-right: 4px"
					/>
					Discord
				</a>

				<button class="menu-item" mat-button routerLink="/explore">
					<mat-icon>public</mat-icon> Explore
				</button>

				<span style="flex: 1 1 auto"></span>

				<a *ngIf="!user" mat-flat-button (click)="onSignIn()">
					<mat-icon>account_circle</mat-icon> Sign in
				</a>

				<button *ngIf="user" mat-button [matMenuTriggerFor]="appMenu">
					<div
						style="display: inline-block; text-align: right; margin-right: 8px;"
					>
						Signed in as <b>{{ user.profile.username }}</b>
						<br />
						<div style="opacity: 0.5; margin-top: -16px;">
							{{ user.profile.email }}
						</div>
					</div>
					<img
						class="user-image"
						src="/api/user/{{ user.profile.username }}/image"
						[alt]="'User image of ' + user.profile.username"
					/>
				</button>

				<ng-container *ngIf="user">
					<button
						class="admin-button"
						*ngIf="user.admin"
						mat-button
						routerLink="/admin"
					>
						<mat-icon>build</mat-icon><br />Admin
					</button>
				</ng-container>

				<mat-menu #appMenu="matMenu">
					<button mat-menu-item routerLink="user/worlds">
						<mat-icon>public</mat-icon> My worlds
					</button>
					<button mat-menu-item routerLink="user/settings">
						<mat-icon>settings</mat-icon> User settings
					</button>
					<button mat-menu-item (click)="onSignOut()">
						<mat-icon>arrow_back</mat-icon> Sign out
					</button>
				</mat-menu>
			</div>
		</div>
	</mat-toolbar-row>
</mat-toolbar>
