$mobileMaxWidth: 1160px;

.toolbar {
	min-height: 64px;

	&.ontop {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 999;
		background: linear-gradient(
			180deg,
			rgba(#000, 0.5),
			rgba(#000, 0.5),
			transparent
		);
	}

	.mobile-only {
		display: none;
		@media (max-width: $mobileMaxWidth) {
			display: initial;
		}
	}

	.mat-toolbar-row {
		height: 64px;
		max-width: 1600px;
		margin: 0 auto;

		.mobile-menu {
			flex-grow: 1;
			display: flex;
			align-items: center;
			overflow: hidden;

			@media (max-width: $mobileMaxWidth) {
				flex-direction: column;
				align-items: center;
				padding: 8px 0;

				position: fixed;
				top: 64px;
				left: 0;
				right: 0;
				width: 100%;
				height: auto;
				max-height: 600px;

				background: darken(#e91e63, 10%);
				z-index: 10;

				transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);

				&.collapsed {
					max-height: 0;
					padding: 0;
				}

				.menu-item {
					margin: 4px 0;
				}
			}
		}

		.menu-item {
			// margin: 0 4px;

			img,
			mat-icon {
				margin-right: 4px;
			}

			&.white {
				background: #fff;
				color: #000;
				margin: 0 4px;
			}
		}

		.user-image {
			width: 36px;
			height: 36px;
			border-radius: 50%;
		}

		.apps-button {
			padding: 0;
			min-width: 0;
			line-height: 16px;

			.material-icons {
				$size: 32px;
				font-size: $size;
				width: $size;
				height: $size;
			}

			&.impersonating {
				background-color: #ff5722;
				padding: 0 8px;
			}
		}
	}
}

.apps-menu {
	width: 280px;
	max-width: 280px;
	text-align: center;

	.app-button {
		width: 33.333333%;
		text-align: center;
		overflow: hidden;
		padding-top: 8px;
		vertical-align: top;

		.material-icons {
			$size: 36px;
			font-size: $size;
			width: $size;
			height: $size;

			margin: 0 auto;
			display: block;
		}
	}

	hr {
		border: none;
		height: 2px;
		background: rgba(#000, 0.08);
	}

	a {
		color: #000;
		text-decoration: none;
	}

	.user-image {
		$size: 64px;
		width: $size;
		height: $size;

		margin: 0 auto;
		display: block;

		margin-top: 16px;
		margin-bottom: 8px;
	}

	h2,
	p {
		margin: 2px 0;
	}

	.user-menu {
		padding: 16px 0;

		button {
			margin: 0 8px;
		}
	}
}

.black-spinner {
	::ng-deep circle {
		stroke: #000000;
	}
}
