// .white-button {
// 	@include mdc-button-container-fill-color(#fff);
// 	@include mdc-button-ink-color(#000);
// }

.user-image {
	width: 36px;
	height: 36px;
	border-radius: 50%;
}

.menu-item {
	margin: 0 8px;
}
