@import "~@angular/material/theming";
@include mat-core();

$primary: mat-palette($mat-pink);
$accent: mat-palette($mat-pink, A200, A100, A400);
$warn: mat-palette($mat-red);
$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);

@import "../node_modules/bootstrap/dist/css/bootstrap-grid.css";

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: "Roboto", "Helvetica Neue", sans-serif;
}

.bg-warn {
	background-color: mat-color($mat-red, 500) !important;
}

h1,
h2,
h3 {
	font-weight: 400;
}

b {
	font-weight: 500;
}

// .mat-button-wrapper {
// 	text-transform: uppercase;
// }
