@use "@material/theme" with (
	$primary: #e91e63,
	$secondary: #e91e63,
	$background: #fff,
);

@use "@angular-mdc/theme/material";

@use "@material/checkbox/mdc-checkbox";
@use "@material/data-table/mdc-data-table";
@use "@material/form-field/mdc-form-field";
@use "@material/textfield/mdc-text-field";

// to be replaced by above
@import "~@angular/material/theming";
@include mat-core();

$primary: mat-palette($mat-pink);
$accent: mat-palette($mat-pink, A200, A100, A400);
$warn: mat-palette($mat-red);
$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);

@import "./fonts.scss";
@import "bootstrap/dist/css/bootstrap-grid.css";

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: "Roboto", "Helvetica Neue", sans-serif;
}

.bg-warn {
	background-color: mat-color($mat-red, 500) !important;
}

.bg-success {
	background-color: mat-color($mat-light-green, 500) !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
	font-weight: 500;
}

a {
	text-decoration: inherit;
	color: mat-color($mat-pink, 500);
}

// .mat-button-wrapper {
// 	text-transform: uppercase;
// }
