<div class="container">
	<h1 style="padding-top: 16px;">My worlds</h1>
	<button
		mat-flat-button
		color="primary"
		style="margin-bottom: 32px;"
		(click)="onCreateDomain()"
	>
		<mat-icon>add</mat-icon> Create new world
	</button>
	<span style="padding: 0 4px;"></span>
	<button
		mat-flat-button
		style="margin-bottom: 32px;"
		(click)="refreshDomains(true)"
	>
		<mat-icon>refresh</mat-icon> Refresh
	</button>
	<div class="row">
		<div
			class="col-lg-4 col-md-6"
			*ngFor="let domain of domains"
			style="padding-bottom: 40px;"
		>
			<app-world-card
				[world]="domain"
				editMode="false"
				(onEdit)="onEditDomain(domain)"
			></app-world-card>
		</div>
	</div>
</div>
<div style="padding: 0 8px;"></div>
