<h2 style="margin: 0;">{{ titleText }}</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit.emit(form.value.value)">
	<mat-form-field class="input">
		<input matInput type="text" formControlName="value" />
		<span matPrefix *ngIf="inputPrefix">{{ inputPrefix }}</span>
		<span matSuffix *ngIf="inputSuffix">{{ inputSuffix }}</span>
	</mat-form-field>

	<div class="buttons">
		<button mat-flat-button type="button" (click)="onCancel()">
			Cancel
		</button>
		<button
			mat-flat-button
			type="submit"
			color="primary"
			[disabled]="form.invalid"
		>
			<mat-icon>{{ buttonIcon }}</mat-icon> {{ buttonText }}
		</button>
	</div>
</form>
<mat-progress-bar
	class="loading"
	*ngIf="loading"
	mode="indeterminate"
></mat-progress-bar>
