.input {
	width: 100%;
}

.buttons {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;

	button {
		margin-left: 8px;
	}
}

.loading {
	margin-top: 24px;
	margin-bottom: -24px;
	margin-left: -24px;
	width: calc(100% + 48px);
}
