<h1 style="text-align: center; margin-top: 24px;">
	Download
	<b *ngIf="!loaded">Tivoli Cloud VR</b>
	<b *ngIf="loaded" class="wiggle">
		<span>T</span>
		<span>i</span>
		<span>v</span>
		<span>o</span>
		<span>l</span>
		<span>i</span>
		<span style="padding-left: 0.25em;"></span>
		<span>C</span>
		<span>l</span>
		<span>o</span>
		<span>u</span>
		<span>d</span>
		<span style="padding-left: 0.25em;"></span>
		<span>V</span>
		<span>R</span>
	</b>
	today!
</h1>
<p style="text-align: center;">
	The alpha version of Tivoli is unfinished and doesn't represent the final
	product
	<br />
	Expect bugs and issues which you can
	<a href="https://git.tivolicloud.com/tivolicloud/issues" target="_blank">
		report here
	</a>
</p>
<ng-container *ngIf="!correctPassword">
	<mat-form-field style="width: 100%;" appearance="outline">
		<mat-label>Super secret password</mat-label>
		<input
			matInput
			required
			autocomplete="off"
			#password
			(keyup)="onPasswordKeyUp(password)"
		/>
	</mat-form-field>
</ng-container>
<ng-container *ngIf="correctPassword">
	<mat-progress-bar
		*ngIf="!loaded"
		mode="indeterminate"
		style="margin-top: 32px; margin-bottom: 24px;"
	></mat-progress-bar>
	<ng-container *ngIf="loaded">
		<div class="platforms">
			<mat-card class="mat-elevation-z2">
				<img src="/assets/logos/windows.svg" />
				<h2>Windows</h2>
				<a
					mat-flat-button
					color="primary"
					[href]="release.platforms.windows.url"
				>
					Download for Windows
				</a>
				<!-- <p>
					{{ release.platforms.windows.filename }} ({{
						release.platforms.windows.size
					}})
				</p> -->
				<p><b>Windows 10 64-bit</b></p>
			</mat-card>
			<mat-card class="mat-elevation-z2">
				<img src="/assets/logos/macos.svg" />
				<h2>macOS</h2>
				<a
					mat-flat-button
					color="primary"
					[href]="release.platforms.macos.url"
				>
					Download for macOS
				</a>
				<!-- <p>
					{{ release.platforms.macos.filename }} ({{
						release.platforms.macos.size
					}})
				</p> -->
				<p><b>macOS 11</b> or higher</p>
			</mat-card>
			<mat-card class="mat-elevation-z2 disabled">
				<img src="/assets/logos/linux.svg" />
				<h2>Linux</h2>
				<button mat-flat-button color="primary">
					Coming soon
				</button>
				<!-- <p>Tivoli Cloud VR.AppImage (800~ MB)</p> -->
				<p><b>2018 (Glibc 2.24)</b> or higher</p>
			</mat-card>
		</div>
		<div class="current-info">
			<h3>
				<span style="font-size: 1.25em;"
					>Version {{ release.version }}</span
				>
				<br />
				<a
					href="https://docs.tivolicloud.com/changelog"
					target="_blank"
				>
					View changelog
				</a>
			</h3>
			<h3>
				Released
				<br />
				{{ release.releaseDate | date: "MMMM dd, y" }}
			</h3>
		</div>
	</ng-container>
</ng-container>
