<h1 style="text-align: center; margin-top: 24px;">
	Download
	<b *ngIf="!loaded">Tivoli Cloud VR</b>
	<b *ngIf="loaded" class="wiggle">
		<span>T</span>
		<span>i</span>
		<span>v</span>
		<span>o</span>
		<span>l</span>
		<span>i</span>
		<span style="padding-left: 0.25em;"></span>
		<span>C</span>
		<span>l</span>
		<span>o</span>
		<span>u</span>
		<span>d</span>
		<span style="padding-left: 0.25em;"></span>
		<span>V</span>
		<span>R</span>
	</b>
	today!
</h1>
<p style="text-align: center;">
	The early access version of Tivoli is unfinished and doesn't represent
	<br />
	the final product. Expect issues which can be
	<a href="https://roadmap.tivolicloud.com" target="_blank">
		reported here
	</a>
</p>
<ng-container>
	<mat-progress-bar
		*ngIf="!loaded"
		mode="indeterminate"
		style="margin-top: 32px; margin-bottom: 24px;"
	></mat-progress-bar>
	<ng-container *ngIf="loaded">
		<div class="platforms">
			<mat-card class="mat-elevation-z2">
				<img src="/assets/logos/windows.svg" />
				<h2>Windows</h2>
				<a
					mat-flat-button
					color="primary"
					[href]="release.platforms.windows.url"
				>
					Download for Windows
				</a>
				<!-- <p>
					{{ release.platforms.windows.filename }} ({{
						release.platforms.windows.size
					}})
				</p> -->
				<p>
					<b>Windows 10 64-bit</b> ({{
						release.platforms.windows.size
					}})
				</p>
			</mat-card>
			<mat-card class="mat-elevation-z2">
				<img src="/assets/logos/macos.svg" />
				<h2>macOS</h2>
				<a
					mat-flat-button
					color="primary"
					[href]="release.platforms.macos.url"
				>
					Download for macOS
				</a>
				<!-- <p>
					{{ release.platforms.macos.filename }} ({{
						release.platforms.macos.size
					}})
				</p> -->
				<p>
					<b>macOS 10.11</b> or higher ({{
						release.platforms.macos.size
					}})
				</p>
			</mat-card>
			<mat-card class="mat-elevation-z2">
				<img src="/assets/logos/linux.svg" />
				<h2>Linux</h2>
				<button
					mat-flat-button
					color="primary"
					[matMenuTriggerFor]="linuxMenu"
				>
					Download for Linux
				</button>
				<p><b>Glibc 2.28</b> or higher</p>
				<mat-menu #linuxMenu="matMenu">
					<a mat-menu-item [href]="release.platforms.linux.url">
						.AppImage ({{ release.platforms.linux.size }})
					</a>
					<a
						mat-menu-item
						[href]="
							release.platforms.linux.url.replace(
								'.AppImage',
								'.deb'
							)
						"
					>
						.deb (~630 MB)
						<span style="opacity: 0.5;">&ndash; dpkg -i</span>
					</a>
					<a
						mat-menu-item
						[href]="
							release.platforms.linux.url.replace(
								'.AppImage',
								'.pacman'
							)
						"
					>
						.pacman (~630 MB)
						<span style="opacity: 0.5;">&ndash; pacman -U</span>
					</a>
				</mat-menu>
			</mat-card>
		</div>
		<div class="current-info">
			<h3>
				<span style="font-size: 1.25em;"
					>Version {{ release.version }}</span
				>
				<br />
				<a
					href="https://docs.tivolicloud.com/changelog"
					target="_blank"
				>
					View changelog
				</a>
			</h3>
			<h3>
				Released
				<br />
				{{ release.releaseDate | date: "MMMM dd, y" }}
			</h3>
		</div>
	</ng-container>
</ng-container>
