.platform-table {
	width: 500px;
	table-layout: fixed;
	text-align: center;

	td {
		padding: 16px 0;
	}

	h2 {
		margin-top: 0;
		margin-bottom: 24px;
	}

	svg {
		display: inline-block;
		height: 1em;
		margin-bottom: -4px;
		margin-right: 4px;
	}

	a {
		span {
			display: block;
			opacity: 0.75;
			margin-top: -16px;
		}
	}

	.disabled {
		opacity: 0.5;
		// background: #e91e63;
		// border-radius: 4px;
		// color: #fff;
		// fill: #fff;

		// button {
		// 	background: #fff;
		// 	color: #000;
		// }
	}
}
