@function hsv($h-hsv, $s-hsv, $v-hsv, $a: 1) {
	@if $v-hsv == 0 {
		@return hsla(0, 0, 0, $a);
	} @else {
		$l-hsl: ($v-hsv/2) * (2 - ($s-hsv/100));
		$s-hsl: ($v-hsv * $s-hsv) /
			if($l-hsl < 50, $l-hsl * 2, 200 - $l-hsl * 2);
		@return hsla($h-hsv, $s-hsl, $l-hsl, $a);
	}
}

.wiggle {
	$height: 5px;
	$duration: 1.5s;
	$delay: 50ms;

	@keyframes wiggle {
		0% {
			transform: translateY(-$height);
		}
		50% {
			transform: translateY($height);
		}
		100% {
			transform: translateY(-$height);
		}
	}

	@keyframes rainbow {
		@for $i from 0 to 24 {
			#{$i/23*100 + "%"} {
				color: hsv($i * 360/23, 50, 80);
			}
		}
	}

	span {
		display: inline-block;
		//text-shadow: 2px 2px 0px rgba(#000, 0.5);

		@for $i from 1 to 20 {
			$negativeDelay: -$delay * $i;

			&:nth-child(#{$i}) {
				animation: wiggle $duration ease-in-out $negativeDelay infinite,
					rainbow $duration * 2 linear $negativeDelay infinite;
			}
		}
	}
}

.platform-table {
	width: 700px;
	text-align: center;
	margin-top: 32px;
	margin-bottom: 16px;

	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;

	td {
		padding: 16px 0;
	}

	h2 {
		margin-top: 0;
		margin-bottom: 24px;
	}

	svg {
		display: inline-block;
		height: 1em;
		margin-bottom: -4px;
		margin-right: 4px;
	}

	a {
		span {
			display: block;
			margin-top: -16px;
		}
	}

	.disabled {
		opacity: 0.5;
		// background: #e91e63;
		// border-radius: 4px;
		// color: #fff;
		// fill: #fff;

		// button {
		// 	background: #fff;
		// 	color: #000;
		// }
	}
}

.current-info {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-evenly;
	opacity: 0.75;
	text-align: center;
}
